<mat-drawer-container
    [class.drawer-opened]="drawer.opened"
    class="main-drawer-container">    
    <mat-drawer #drawer
    class="drawer"
    mode="side"
    opened="true">

    <mat-toolbar class="side-header">
        <div>Drive</div>
        <button class="close-button" type="button" mat-icon-button (click)="drawer.close()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <div class="side-contents">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">
                <mat-icon matListItemIcon>home</mat-icon> Home
            </a>
            <a mat-list-item routerLink="/trash">
                <mat-icon matListItemIcon>delete</mat-icon> Trash
            </a>
            <a mat-list-item routerLink="/settings">
                <mat-icon matListItemIcon>settings</mat-icon> Settings
            </a>
        </mat-nav-list>
    </div>
    </mat-drawer>

    <mat-toolbar class="main-header">
        @if(!drawer.opened) {
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        }
        <div>Header</div>
    </mat-toolbar>

    <div class="main-contents">
        <router-outlet/>
    </div>
</mat-drawer-container>
