:host {
    display: block;
    height: 100vh;
}

.main-drawer-container {
    height: 100vh;
}

.drawer {
    width: 300px;
}

.side-header {
    justify-content: space-between;
}

.side-contents {
    height: calc(100% - 64px); 
    overflow-y: auto;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-contents {
    padding: 20px;
    height: calc(100vh - 64px); 
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fafafa;
}