/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

// 1. Define Palettes
$myapp-primary: mat.define-palette(mat.$indigo-palette, A400, A100, A700);
$myapp-accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);
$myapp-warn:    mat.define-palette(mat.$red-palette);

// 2. Define the Light Theme
$myapp-light-theme: mat.define-light-theme((
  color: (primary: $myapp-primary, accent: $myapp-accent, warn: $myapp-warn)
));

// 3. Define the Dark Theme
$myapp-dark-theme: mat.define-dark-theme((
  color: (primary: $myapp-primary, accent: $myapp-accent, warn: $myapp-warn)
));

// 4. Define a Custom "Nature" Theme
$nature-primary: mat.define-palette(mat.$green-palette);
$nature-accent:  mat.define-palette(mat.$brown-palette);
$nature-theme:   mat.define-light-theme((
  color: (primary: $nature-primary, accent: $nature-accent, warn: $myapp-warn)
));

html {
  height: 100%;
  @include mat.all-component-themes($myapp-light-theme);
}

.dark-mode {
  color-scheme: dark;
  @include mat.all-component-colors($myapp-dark-theme);
}

.nature-mode {
  @include mat.all-component-colors($nature-theme);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;}
