<form [formGroup]="loginForm" class="login-container">
    <h3 class="header">
        {{ this.isLoginMode ? 'Login' : 'Register' }}
    </h3>

    <div class="form-group">
        <label for="username">Username</label>
        <input 
        type="text"
        id="username"
        [formControl]="loginForm.controls.username"
        [class.invalid]="loginForm.controls.username.invalid && loginForm.controls.username.touched"/>

        @if(loginForm.controls.username.invalid && loginForm.controls.username.touched) {
            <small>Username is required</small>
        }
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password"
        id="password"
        [formControl]="loginForm.controls.password"
        [class.invalid]="loginForm.controls.password.invalid && loginForm.controls.password.touched"/>

        @if(loginForm.controls.password.invalid && loginForm.controls.password.touched) {
            <small>Password is required</small>
        }
    </div>

    <div class="login-footer">
        @if(this.isLoginMode) {
            <button [disabled]="loginForm.invalid" (click)="onLogin()">Login</button>
            <div style="text-align: center;">
                Need an account? <a class="link" (click)="switchModes()"> Register</a>
            </div>
        } @else {
            <button [disabled]="loginForm.invalid" (click)="onRegister()">Register</button>
            <div style="text-align: center;">
                Have an account? <a class="link" (click)="switchModes()"> Login</a>
            </div>
        }
    </div>
</form>

@if(error) {
    <div class="error-msg">
        {{ error }}
    </div>
}