.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  animation: fadeIn 0.3s ease-in;
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.large-item-btn {
  width: 80px !important;
  height: 80px !important;
  background-color: #f8f9fa;
  border-radius: 12px !important; 
  
  /* Ensure the ripple stays inside the button bounds */
  position: relative;
  
  /* Center the icon perfectly */
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.large-item-btn mat-icon {
  font-size: 40px; /* Makes the icon bigger */
  width: 40px;
  height: 40px;
  color: #5f6368;
}

.file-icon {
    color: #1a73e8 !important;
}

.item-label {
  margin-top: 8px;
  font-size: 13px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This pushes actions to the right */
  padding: 8px 16px;
}

.nav-group, .actions-group {
  display: flex;
  align-items: center;
}

.separator {
  color: #9aa0a6;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 0 4px;
}

.actions-group button {
  border-radius: 20px; /* Rounded pill shape */
  padding: 0 20px;
}

.more-actions-btn {
  position: absolute;
  right: 0px;
  bottom: 2.5px;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: black;
}

.more-actions-btn mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.more-actions-btn ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none !important;
}

.item-container:hover .more-actions-btn {
  opacity: 1;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}